[submodule "src/cimgui"]
	path = src/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "src/cimgui-freetype/freetype2"]
	path = src/cimgui-freetype/freetype2
	url = https://git.sv.nongnu.org/r/freetype/freetype2.git
[submodule "src/ImGui.NET"]
	path = src/ImGui.NET
	url = https://github.com/GuybrushThreepwood-GitHub/ImGui.NET.git
[submodule "dear-imgui-project/Packages/dear-imgui-unity"]
	path = dear-imgui-project/Packages/dear-imgui-unity
	url = https://github.com/GuybrushThreepwood-GitHub/dear-imgui-unity.git
